############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> MMU/ERCF MCUs are called "mmu" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line

[printer]
max_velocity: 200
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 15
max_z_accel: 45

[tmc2209 stepper_z]
run_current: 0.3

[extruder]
sensor_type: Generic 3950
max_temp: 270

[tmc2208 extruder]
run_current: 0.7

[display]
click_pin: ^!PA15
i2c_bus: i2c1a
i2c_mcu: mcu
encoder_pins: ^PC1, ^PC2
kill_pin: ^!PB12
vcomh: 60
x_offset: 2
#sda: pb9
#scl: pb8

[neopixel display_led]
pin: PC6
color_order: GRB
initial_RED: 0
initial_GREEN: 0.1
initial_BLUE: 0.4

#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
control: pid
pid_kp: 26.015
pid_ki: 1.770
pid_kd: 95.603


[heater_bed]
sensor_type: Generic 3950
control: pid
pid_kp: 38.771
pid_ki: 1.746
pid_kd: 215.177

[tmc2209 stepper_x]
hold_current: 0.4
diag_pin: PB3                                                       # NO NEED TO JUMP 


[tmc2209 stepper_y]
hold_current: 0.4
diag_pin: ^PA9                                                      # NO NEED TO JUMP  


[stepper_z]
endstop_pin: ^PA3

[tmc2209 stepper_z]
hold_current: 0.05


[heater_bed]
smooth_time: 3.0



[fan]
max_power: 1.0                                   
off_below: 0.13




#-------------------------#
#   Z MOTORS DIRECTION    #
#-------------------------#

## Here is an example of some overrides for the motor directions as it's a pretty common one. If you need
## to invert the Z1 or Z3 motor direction on your machine, just uncomment the following lines.
# [stepper_z1]
# dir_pin: !Z1_DIR

# [stepper_z3]
# dir_pin: !Z3_DIR


#-------------------------#
#   Probe Offsets         #
#-------------------------#

## Here is an example of some overrides for bed probes. These frequently have calibrated offsets for xyz,
## and many will need them during setup. If you need to set these, just uncomment the following lines.
# [probe]
# x_offset: -1.85
# y_offset: 29.3
# z_offset: 12.6